.root {
    -jr-theme: #d79921;
    -jr-accent: #458588;
    -jr-selected: -jr-accent;
    -jr-hover: #282828;

    -jr-row-odd-background: #272b38;
    -jr-row-even-background: #212330;
    -jr-accent-alt: -jr-accent;

    -jr-red: #cc241d;
    -jr-light-red: #fb4934;
    -jr-green: #98971a;
    -jr-light-green: #b8bb26;
    -jr-blue: #458588;
    -jr-light-blue: #83a598;
    -jr-purple: #b16286;
    -jr-light-purple: #d3869b;
    -jr-yellow: #fabd2f;
    -jr-orange: #d79921;

    -jr-base: #282828;

    -jr-background-alt: #282828;
    -jr-menu-background: #282828;
    -jr-toolbar: -jr-menu-background;
    -jr-sidepane-background: #282828;
    -jr-search-background: #282828;

    -jr-sidepane-header-background: -jr-background-alt;
    -jr-group-hits-bg: -jr-background-alt;
    -jr-group-hits-fg: -fx-light-text-color;
    -fx-control-inner-background: #282828;

    -fx-control-inner-background-alt: -fx-control-inner-background;

    -fx-dark-text-color: #282828;
    -fx-mid-text-color: #928374;
    -fx-light-text-color: #ebdbb2;
    -jr-separator: #a89984;
    -fx-outer-border: #352f2c;

    -jr-icon: -fx-light-text-color;
    -jr-icon-active: derive(-fx-light-text-color, 50%);
    -jr-icon-background-active: -jr-hover;
    -jr-icon-background-armed: #fff2;

    -jr-menu-foreground: -fx-light-text-color;
    -jr-menu-item-foreground: -fx-light-text-color;
    -jr-menu-forground-active: derive(-fx-light-text-color, 50%);

    -jr-scrollbar-thumb: -fx-light-text-color;
    -jr-scrollbar-track: derive(-fx-control-inner-background, -90%);

    -fx-focused-text-base-color: -fx-dark-text-color;

    -jr-tooltip-fg: derive(-fx-light-text-color, 50%);

    -jr-drag-target: -jr-accent;
    -jr-drag-target-hover: -jr-accent;

    -js-summary-text-color: derive(-fx-light-text-color, 70%);
    -js-summary-text-color-selected: derive( -fx-dark-text-color, 70%);
}

.unchanged {

}

.addition {
    -rtfx-background-color: -jr-green;
}

.deletion {
    -rtfx-background-color: -jr-red;
}

#previewBody {
    background-color: #282828; /* -fx-control-inner-background*/
    color: #ebdbb2;
}

.custom-color-dialog {
    -fx-background-color: -fx-control-inner-background;
}

.table-row-cell:odd{
    -fx-background-color:#2b2a2a;
}

.table-row-cell:even{
    -fx-background-color: #332d27;
}

.table-row-cell:hover,
.tree-table-row-cell:hover {
    -fx-background-color: -jr-hover;
}

.merge-field-value .action-icon {
    -fx-blend-mode: none;
    -fx-opacity: 90%;
}

.merge-header-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: -fx-outer-border;
    -fx-background-color: -jr-row-odd-background;
}

.merge-header {
    -fx-background-color: -jr-row-odd-background;
}

.table-view .groupColumnBackground {
    -fx-stroke: -jr-gray-3;
}

.code-area .lineno {
    -fx-background-color: -jr-background-alt;
    -fx-text-fill: -fx-mid-text-color;
}

.text-unchanged {
    -fx-fill: -fx-light-text-color;
}

.radio-button > .radio {
    -fx-background-color: -fx-light-text-color, -fx-control-inner-background;
}

.numberColumn > .hits:any-selected {
    -fx-background-color: derive(-jr-gray-3, 25%);
}

.numberColumn > .hits:all-selected {
    -fx-background-color: -jr-gray-3;
}

#preferencesContainer .tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -jr-background;
}

.mainToolbar .search-field .button .glyph-icon {
    -fx-fill: derive(-fx-dark-text-color, 80%);
    -fx-text-fill: derive(-fx-dark-text-color, 80%);
    -fx-icon-color: derive(-fx-dark-text-color, 80%);
}

.mainToolbar .search-field .toggle-button .glyph-icon {
    -fx-fill: -jr-search-text;
    -fx-text-fill: -jr-search-text;
    -fx-icon-color:-jr-search-text;
}

.mainToolbar .search-field .toggle-button:selected .glyph-icon {
    -fx-fill: derive(-fx-light-text-color, 80%);
    -fx-text-fill: derive(-fx-light-text-color, 80%);
    -fx-icon-color: derive(-fx-light-text-color, 80%);
}

.notification-bar > .pane {
    -fx-background-color: -fx-light-text-color;
}

.rating > .container > .button {
    -fx-icon-color: derive(-fx-light-text-color, -50%);
}

.rating > .container > .button.strong {
    -fx-icon-color: -fx-dark-text-color;
}
